.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  text-align: center;
  color: #61dafb;
}

.item-a {
  text-align: center;
  grid-area: header;
  color: #35ca21;
}

.item-b {
  text-align: center;
  grid-area: main;
}

.item-c {
  text-align: center;
  grid-area: sidebar;
}

.item-d {
  text-align: center;
  grid-area: footer;
  color: #35ca21;
}

.container{
  display:grid;
  grid-template-columns: 300px 300px  300px 300px;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
